<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stylish Portfolio - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/stylish-portfolio.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Custom Fonts -->
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Website CSS style -->
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">

    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

</head>

<body>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>MELON</h1>

            {% if not 'username' in session: %}
            <a id="signinbut" href="#" class="btn btn-dark btn-lg">Sign in</a>
            <br>
            <a id="signupusbut" href="#" class="btn btn-dark btn-lg sign">Sign up</a>

            <!-- The Modal -->
            <div id="inmodal" class="modal">
    			<div class="row main">
    				<div class="main-login main-center">
                        <span id="closein" class="close">&times;</span>
    					<form id="form-login" class="form-horizontal" method="POST" action="/login">

    						<div class="form-group">
    							<label for="Username" class="cols-sm-2 control-label">Username</label>
    							<div class="cols-sm-10">
    								<div class="input-group">
    									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
    									<input type="text" class="form-control" name="login" id="name"  placeholder="Nickname"/>
    								</div>
    							</div>
    						</div>

    						<div class="form-group">
    							<label for="password" class="cols-sm-2 control-label">Password</label>
    							<div class="cols-sm-10">
    								<div class="input-group">
    									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
    									<input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/>
    								</div>
    							</div>
    						</div>
                            <p id="loginerr" style="color:red;"></p>
    						<div class="form-group ">
    							<button type="submit" class="btn btn-primary btn-lg btn-block login-button">Login</button>
    						</div>

    					</form>
    				</div>
    			</div>
            </div>

            <div id="upusmodal" class="modal">
                <div class="row main">
    				<div class="main-login main-center">
                        <span id="closeupus" class="close">&times;</span>
    					<form id="form-reg" class="form-horizontal" method="POST" action="/registration">

    						<div class="form-group">
    							<label for="name" class="cols-sm-2 control-label">Username</label>
    							<div class="cols-sm-10">
    								<div class="input-group">
    									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
    									<input type="text" class="form-control" name="name" id="name"  placeholder="Enter your Name"/>
    								</div>
    							</div>
    						</div>

    						<div class="form-group">
    							<label for="email" class="cols-sm-2 control-label">Your Email</label>
    							<div class="cols-sm-10">
    								<div class="input-group">
    									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
    									<input type="text" class="form-control" name="email" id="email"  placeholder="Enter your Email"/>
    								</div>
    							</div>
    						</div>

    						<div class="form-group">
    							<label for="password" class="cols-sm-2 control-label">Password</label>
    							<div class="cols-sm-10">
    								<div class="input-group">
    									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
    									<input type="password" class="form-control" name="pass" id="password"  placeholder="Enter your Password"/>
    								</div>
    							</div>
    						</div>

    						<div class="form-group">
    							<label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
    							<div class="cols-sm-10">
    								<div class="input-group">
    									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
    									<input type="password" class="form-control" name="cpass" id="confirm"  placeholder="Confirm your Password"/>
    								</div>
    							</div>
    						</div>

                            <div class="form-group">
    							<div class="cols-sm-10">
    								<div class="input-group">
                                        <input type="radio" name="status" value="Head"> Head <br>
                                        <input type="radio" name="status" value="Slave"> Slave<br>
    								</div>
    							</div>
    						</div>


    						<div class="form-group ">
    							<button type="submit" class="btn btn-primary btn-lg btn-block login-button">Register</button>
    						</div>
    					</form>
    				</div>
    			</div>
            </div>
            {% endif %}

            {% if 'username' in session: %}
            <a href="/logout"> Logout </a>
            {% endif %}

            </div>


        </div>
    </header>
<script>
    var modalin = document.getElementById('inmodal');
    var btnin = document.getElementById("signinbut");
    var spanin = document.getElementById("closein");

    btnin.onclick = function() {
        modalin.style.display = "block";
    }

    spanin.onclick = function() {
        modalin.style.display = "none";
    }

    //========================

    var modalupus = document.getElementById('upusmodal');
    var btnupus = document.getElementById("signupusbut");
    var spanupus = document.getElementById("closeupus");

    btnupus.onclick = function() {
        modalupus.style.display = "block";
    }

    spanupus.onclick = function() {
        modalupus.style.display = "none";
    }
    //=========================

    $("#form-login").submit(function(e) {

        var url = "/login"; // the script where you handle the form input.

        $.ajax({
               type: "POST",
               url: url,
               data: { nickname: $("#form-login input")[0].value , password: $("#form-login input")[1].value, ajax: true },
               success: function(data)
               {
                    if(data == "Head") {
                       window.location.href = "/hh_home";
                   } else if (data == "Slave"){
                       window.location.href = "/user_home";
                   } else {
                       document.getElementById("loginerr").innerHTML = data ;    
                   }
               }
             });
            e.preventDefault();
    });

</script>
</body>

</html>
