	<html>
	<head>
	<title>Form</title>
	</head>
	<body>

	<form method="post" action="">

	<p>Username?:</p>
	<input type="text" name="name"></p>
	<p>Pass?:</p>
	<input type="text" name="pass"></p>
	<p>Confirm?:</p>
	<input type="text" name="cpass"></p>
	<p>Email?:</p>
	<input type="text" name="email"></p>
	<p>Project:
	<input type="radio" name="status" value="Head" /> Head
	<input type="radio" name="status" value="Slave" /> Slave 


	<input type="submit" value="Submit" />

	</form>

	</body>
	</html>